@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.sidebar {
  width: 200px;
  background-color: #f1f1f1;
  overflow-y: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2; /* Поверх карты */
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  text-align: center;
}

.buttons-container {
  padding: 10px;
}

.tooltip {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 14px;
  pointer-events: none;
  display: none;
}